@import "./styles/grid.scss";

.submit-btn {
  float: right;
}

.full-width {
  display: block;
  width: 100%;
}

.headline {
  text-align: center;
}

// override datepicker's native styles
.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block;
}
