@import "./styles/reset.scss";
@import "./styles/grid.scss";

$aqua: #1F7AA0;
$white: #ffffff;
$gray-e: #eeeeee;
$gray-5: #555555;
$gray-3: #333333;

.full-width {
  display: block;
  width: 100%;
}

.headlines {
  text-align: center;
  padding: 120px 0 80px 0;

  h1 {
    font-size: 46px;
    font-weight: 800;
    color: $aqua;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba($white, 0.2);
  }

  h2 {
    font-size: 38px;
    color: $gray-3;
  }
}

.pull-right {
  float: right;
}

.form {
  background: #f9f9f9;
  border-top: 3px solid $aqua;
  border-bottom: 3px solid $aqua;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba($gray-3, 0.2);
  padding-bottom: 40px;
  margin-bottom: 100px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 2px solid $gray-e;
    background: $white;
    margin-bottom: 40px;

    .progress {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: $gray-5;
      margin-right: 5px;
      line-height: 1.3;
    }
  }

  main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .label {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    color: #777;
    display: block;
    margin-bottom: 7px;

    &.label-question {
      margin-bottom: 13px;
      text-transform: none;
      line-height: 1.3;
    }

    &.label-radio {
      display: inline-block;
      margin-right: 20px;
      line-height: 1.3;
      margin-bottom: 30px;
      cursor: pointer;

      input[type=radio] {
        margin-right: 5px;
      }
    }
  }

  .input-field, .dropdown {
    border: 1px solid $gray-e;
    border-bottom: 3px solid $gray-e;
    font-size: 16px;
    line-height: 1;
    padding: 15px 10px;
    outline: none;
    display: block;
    width: 100%;
    background: $white;
    border-radius: 3px;
    margin-bottom: 30px;
  }

  .dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./images/chevron-down.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: right 10px top 20px;
    background-size: 15px;
  }
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $white;
  border: 1px solid $gray-e;
  margin-left: 5px;
  background: $gray-e;

  &.filled {
    background: $aqua;
  }
}

.btn {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 12px 20px;
  background: $aqua;
  color: $white;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;

  &:hover {
    background: darken($aqua, 5%);
  }

  &:disabled {
    background: #ccc;
    cursor: default;
  }
}


.bg {
  background: url(./images/road.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

// override datepicker's native styles
.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block;
}
